.App {
  text-align: left;
}

.header-logo {
  margin-top: 20px;
  height: 10vh;
  align-content: left;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  height:17vh;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
#section1 {
  color: lightgrey;
  height: 65vh;
  text-align: center;
  box-shadow: 0px 0px 200px 15px grey; 

}
#footer { 
  height: 18vh;
  background-image: url("./images/top.jpeg");
  background-size: 100vw;
  background-repeat: no-repeat;
  clear: both;
  background-color: white;
}
.menu {
  text-align: right;
  padding-top: 25px;
  float: right;
}
ul {
  float: right;
  font-family: doughboy-regular;
  color: lightgrey;
  padding-bottom: 10px;
}

ul:hover {
  border-bottom: 5px solid lightgrey;
  border-left-width: 10vh;
  cursor: pointer;
}

@font-face {
  font-family: swiss-721-bt;
  src: url("./fonts/swiss-721-bt.ttf") format("truetype");
}
@font-face {
  font-family: doughboy-regular;
  src: url("./fonts/doughboy-regular.ttf") format("truetype");
}
.box {
  height: 60%;  
  width: 15%;
  margin: 4%;  
  border: 3px solid orange;
  background-size: 43vh;
  box-shadow: 0px 0px 40px 20px grey; 
  display: inline-block;
 
}
#box1 {
  background-image: url("./images/photo3.jpeg");
  background-position: -25px -100px;
}

#box2 {
  background-image: url("./images/photo5.jpeg");
  background-position: -50px;
}
#box3 {
  background-image: url("./images/photo6.jpeg");
}
#box4 {
  background-image: url("./images/photo 2.jpeg");
}
#box1:hover, #box2:hover, #box3:hover, #box4:hover {
  box-shadow: 0px 0px 10px 1px grey; 
  cursor: pointer;
}
#informational {
  height: 24.5%;
  color: black;
  font-family: swiss-721-bt;
  visibility: hidden;
  border: 5px solid silver; 
  display: inline-table;
  float: right;
  background-color: white;
}