html {
  height: 100%;
}
body {
  height: 100%;
} 
.App {
  text-align: left;
}

.header-logo {
  margin-top: 20px;
  height: 10vh;
  align-content: left;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  height:17vh;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
#section1 {
  color: lightgrey;
  height: 70vh;
  text-align: center;
  margin-bottom: -8%;

}
.menu {
  text-align: right;
  padding-top: 25px;
  float: right;
}
ul {
  float: right;
  font-family: doughboy-regular;
  color: lightgrey;
  padding-bottom: 10px;
}

ul:hover {
  border-bottom: 5px solid lightgrey;
  border-left-width: 10vh;
  cursor: pointer;
}

@font-face {
  font-family: swiss-721-bt;
  src: url("./fonts/swiss-721-bt.ttf") format("truetype");
}
@font-face {
  font-family: doughboy-regular;
  src: url("./fonts/doughboy-regular.ttf") format("truetype");
}
.box {
  height: 60%;  
  width: 15%;
  margin: 4%;  
  border: 3px solid orange;
  background-size: 43vh;
  box-shadow: 0px 0px 40px 20px grey; 
  display: inline-block;
  
}
#box1 {
  background-image: url("./images/photo3.jpeg");
  background-position: -25px -100px;
}

#box2 {
  background-image: url("./images/photo5.jpeg");
  background-position: -50px;
}
#box3 {
  background-image: url("./images/photo6.jpeg");
}
#box4 {
  background-image: url("./images/photo 2.jpeg");
}
#box1:hover, #box2:hover, #box3:hover, #box4:hover {
  box-shadow: 0px 0px 10px 1px grey; 
  cursor: pointer;
}
#infoWrapper {
  display: flex;
  padding-top: 10%;
}

#informational {
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  position: relative;
  z-index: 1;
  background: lightgrey;
  height: 0;
  color: white;
  text-shadow: 1px 1px black;
  padding: 0 10%;
  overflow: hidden;

  transition-delay: 5000ms;
  transition-property: padding;

  -webkit-transition: all 300ms;
  -ms-transition: all 300ms;
  transition: all 300ms;
  
}
#informational.open {

  height: 10vh;
  overflow: scroll;
  padding: 3%;
  -webkit-transition: all 300ms;
  -ms-transition: all 300ms;
  transition: all 300ms;

  border: 10px ridge lightgrey;
}

.footerWrapper {
  height: 30vh;
  position: relative;
}
#footer { 
  height: 60%;
  background-image: url("./images/top.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: white;
  margin-top: 5%;
  position: relative;
  z-index: 999;
}                                      
#bottomfooter {
  padding-top: 20px;
  height: 40%;
  background-color: #222;
  color: white;
  text-align: center;
  position: relative;
  z-index: 999;
}             